.body {
    background-color: rgb(9, 10, 10);
}

.post {
    border: 1px solid rgb(3, 3, 3);
    background-color: white;
    height: 690px;
    width: 25%;
}

.post-header {
     display: flex;
     border: 0px solid rgb(12, 12, 12);
     background-color: #ffffff;
     height: 40px;
     width: 99%;
     padding: 15px 1px 4px;
} 

.post-header-right {
    margin-left: 335px;
    
    
}

.post-img {
     display: flex;
     border: 0px solid rgb(221, 4, 4);
     background-color: white;
     height: 430px;
     width: 99%;
     float: left;
     
}

.post-icons {
    
    display: flex;
     border: 0px solid rgb(221, 4, 4);
     background-color: white;
     height: 40px;
     width: 99%;
     padding: 4px 1px 4px;
}

.post-body {
    margin-left: 10px;
     border: 0px solid rgb(221, 4, 4);
     background-color: white;
     height: 35px;
     width: 96%;
     padding: 1px 1px 1px;
}

.post-bodyii {
     margin-left: 10px;
     
     border: 0px solid rgb(221, 4, 4);
     background-color: white;
     height: 100px;
     width: 96%;
     padding: 1px 1px 1px 1px;
    
}
